---
extends: default

ignore: |
  tests/inventory
  tests/test_variables.yml

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  line-length:
    max: 120
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
